body {
    background-image: url('../images/blue.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(1px);
    color: rgb(113, 41, 41);
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    /* color: pink; */
    /* Setting text color to pink */

}
